//
//  Secrets.xcconfig
//  MyFavoriteMovie
//
//  Created by Mattis Naud on 02/01/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2NjVlMjg3ZjExNzkwNDUzMDQyYTA2MjdiNWE4ODMxOCIsIm5iZiI6MTc2NzM2ODExMS41MDcsInN1YiI6IjY5NTdlNWFmY2ZiOWYzM2I3NTdjNzUwNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.PteYXvftjDh3xSP9P_zvcKjuzlDwRv195CGCbJpVx-s
